h1{
    text-align: center;
    font-size: xx-large;
    
}
#title{
    text-align: center;
    font-size:75px;
    font-weight: bold;
    color: rgb(252, 13, 129);
    
}
body{
    text-align: center;
   
    
}
button{
    background-color: green;
}